<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SPS</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <script src="main.js"></script> -->
    <style>
        body{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .jumbotron{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="">
            <%- include('partial/navbar')%>
            <div class="jumbotron">
                <h1 class="text-center">SPS</h1>
            </div>
        </div>
        <div class="">
            <div>
                <form class = "text-center" action="/post/search" method="POST" >
                    <p class="lead">Your searches
                    <input type="text" id="" name="search" value="" required>
                    <button type="submit">Search</button> </p>
                </form>
                <br>    
            </div>
        </div>
        <div class="row">
            <div class="container">
                    <% let i = 0; %>
                    <% results.forEach((result) => { %>
                    <%  if(i % 4 == 0){ %>
                        <div class="row">
                    <% } %>
                    <div class="col-md-3">
                        <img src="<%= result.previewUrl %>">
                        <br>
                        <label >
                            <input id="result.id" type="checkbox" value> Select
                        </label>
                    </div>
                    <%  if(i % 4 == 3){ %>
                        </div>
                    <% } %>
                    <% i++ %>
                    <% }) %>
            </div>
        </div>
        <br>
        <div class="row">
            <%- include('partial/footer.ejs') %>
        </div>
    </div>
</body>
</html>