<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SPS</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <script src="main.js"></script> -->
    <style>
        body{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .jumbotron{
            margin-top: 10px;
        }
    </style>
</head>
<body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="container">
        <div class="">
            <%- include('partial/navbar')%>
            <div class="jumbotron">
                <h1 class="text-center">SPS</h1>
            </div>
        </div>
        <div class="">
            <div>
                <form class = "text-center" action="/post/search" method="POST" >
                    <p class="lead">Your searches
                    <input type="text" id="" name="search" value="" required>
                    <button type="submit">Search</button> </p>
                </form>
                <br>    
            </div>
        </div>
        <div class="row">
            <div class="container">
                <!-- <form name="download" action="/post/download" method="POST" > -->
                    <% let i = 0; %>
                    <% results.forEach((result) => { %>
                    <%  if(i % 4 == 0){ %>
                        <div class="row">
                    <% } %>
                    <div class="col-md-3">
                        <img src="<%= result.previewUrl %>">
                        <br>
                        <label >
                            <input id="<%=result.id%>" type="checkbox" class="miclase" value> Select
                        </label>
                    </div>
                    <%  if(i % 4 == 3){ %>
                        </div>
                    <% } %>
                    <% i++ %>
                    <% }) %>
            </div>
        </div>
        <div class="row">
            <div class="container">
                    <button id="mybuttonid" type="button" class="btn btn-primary btn-lg btn-block">Download</button> </p>
                <!-- </form> -->
            </div>
        </div>
        <br>
        <div class="row">
            <%- include('partial/footer.ejs') %>
        </div>
    </div>
    <script>
        $(function()
        {
            function catchIds() {
                var ids = [];

                $('.miclase').each(function(index){
                    // console.log('index');

                    if($(this).is(":checked")){

                        ids.push($(this).attr('id'));
                    }            
                });
                
                var params = { "ids": ids};
                $.ajax({
                    type: "POST",
                    url: "/post/download",
                    traditional: true,
                    data: params
                }).done((res) => {
                    alert(res.responses)
                    window.location.href= "/";
                })
                .fail((err) => {
                    _cn(err, url, params);
                    reject(err);
                })
        }

        $('#mybuttonid').click(function(){
            catchIds();
        })
    });        
    </script>
</body>
</html>