<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SPS</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- <script src="main.js"></script> -->
    <style>
        body{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .jumbotron{
            margin-top: 10px;
        }
    </style>
</head>
<body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <div class="container">
        <div class="">
            <%- include('partial/navbar')%>
            <div class="jumbotron">
                <h1 class="text-center">SPS</h1>
            </div>
        </div>
        <div class="">
            <div>
                <form name="searchform" class = "text-center" action=""  >
                    <p class="lead">Your searches
                    <input type="text" id="search" name="search" value="" required>
                    <!-- <button id="mybuttonsearch" type="button">Search</button> </p> -->
                    <input type="submit" name="submit" class="button" id="buttonform" value="Dowload">
                </form>
                <br>    
            </div>
        </div>
        <div class="row">
            <div class="container" id="log"> 
                
            </div>
        </div>
        <div class="row">
            <div class="container">
                    <button id="mybuttonid" type="button" class="btn btn-primary btn-lg btn-block">Download</button> </p>
                <!-- </form> -->
            </div>
        </div>
        <br>
        <div class="row">
            <%- include('partial/footer.ejs') %>
        </div>
    </div>
    <script>
        $(function()
        {
            function catchIds() {
                var ids = [];

                $('.miclase').each(function(index){
                    // console.log('index');

                    if($(this).is(":checked")){

                        ids.push($(this).attr('id'));
                    }            
                });
                
                var params = { "ids": ids};
                $.ajax({
                    type: "POST",
                    url: "http://localhost:3083/post/download",
                    traditional: true,
                    data: params
                }).done((res) => {
                    alert(res.responses)
                    window.location.href= "http://localhost:3082";
                })
                .fail((err) => {
                    // _cn(err, url, params);
                    console.log(err)
                    reject(err);
                })
            }

            function seachimage() {
                
                var word = $("input#search").val();
                var params = {"word": word};
                console.log ('LA  PALABRA A BUSCAR ES:' + word);
                $.ajax({
                    type: "POST",
                    url: "http://localhost:3083/post/search",
                    traditional: true,
                    data: params
                }).done((res) => {
                    
                    var stringhtml = '';
                    let i = 0; 
                    res.results.forEach((result) => {
                        if(i % 4 == 0){
                        stringhtml = stringhtml.concat('<div class="row">');
                        }
                        stringhtml = stringhtml.concat('<div class="col-md-3"> <img src="');
                        stringhtml = stringhtml.concat( result.previewUrl);
                        stringhtml = stringhtml.concat('"> <br> <label > <input id="');
                        stringhtml = stringhtml.concat(result.id);
                        stringhtml = stringhtml.concat('" type="checkbox" class="miclase" value> Select </label>  </div> ');
                        if(i % 4 == 3){ 
                        stringhtml = stringhtml.concat('</div>');
                        console.log(stringhtml);
                        }
                        i++
                    })
                    var $log = $("#log");
                    var html = $.parseHTML(stringhtml);
                    $log.append(html);
                })
                .fail((err) => {
                    // _cn(err, url, word);
                    console.log(err)
                    reject(err);
                })
            }
            $('#mybuttonid').click(function(){
                catchIds();
            })

            $('#buttonform').click(function(e){
                e.preventDefault(); // evita que el form haga el action, apersar del q el action este vacio.
                seachimage();
            })
        });        
    </script>
</body>
</html>